<br/>
<h1 style="margin: auto; width: 22%; padding: 2rem; background: #F8F8F8; border-radius: 50px">Edit friend</h1>

<%= render 'form', friend: @friend %>

<br/>

<%= link_to 'Show', @friend, class: "btn btn-dark" %> |
<%= link_to 'Back', friends_path, class: "btn btn-dark"%>